<!DOCTYPE HTML>
<html>
<head>
    <title>Fantasy Baseball</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body style="background-color: navy; color: white;">
    <br/><h1><b>&nbsp;&nbsp;FBB 서비스</b> (Fantasy Baseball, ver. 0.7)</h1><br/>
    <div class="col-md-12">
		<input type="button" class="btn btn-primary" value="선수 목록" onclick=" relocate_player()">
        <br/>
        <br/>
		<input type="button" class="btn btn-primary" value="날짜별 점수" onclick=" relocate_point()">
        <br/>
        <br/>
        <input type="button" class="btn btn-primary" value="선수별 총점" onclick=" relocate_sum()">
        <br/>
        <br/>
    </div>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

	<script>
	function relocate_player()
	{
	     location.href = "/findPlayerAll";
	} 
	function relocate_point()
	{
	     location.href = "/findPointToday";
	} 
    function relocate_sum()
    {
         location.href = "/findPointSum";
    } 
	</script>

</body>
</html>